*{
  background-color: lightblue;;
}

form {
  background-color:rgb(172, 51, 51);
  height: 5rem ;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  padding: 0.2rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  background-color: black;
  color : white;
  margin:  0 2rem;
}

form button {
  background-color: black;
  color : white;
  padding: 0.2rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
}

.content{
  width: 100%;
  background-color:rgb(165, 224, 178);;
}